@import "footer";

@media (max-width: 501px) {
  .desktop {
    display: none;
  }

  .mobile {
    display: block;
  }
}

@media (min-width:502px){
    .desktop{
        display:block;
    }
    .mobile{
        display: none;
    }
}
