* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }

@import "./estilizações/variables";

html {
  background-color: @cor-de-fundo;  
  color: @cor-da-fonte;
  font-size: 16px;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
   }


@import "./estilizações/header-menu";
 
@import "./estilizações/main.less";


@import "./estilizações/footer";

@import "./estilizações/media-query";


