* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  background-color: #f6f0cf;
  color: #202020;
  font-size: 16px;
}
body {
  min-height: 100vh;
  scroll-behavior: smooth;
}
/*header _ nav _ ul-menu _a-li _ hr*/
/*HEADER display flex*/
header nav {
  background-color: #f6f0cf;
  top: 0;
  width: 90%;
  height: 10%;
  position: fixed;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}
/*HEADER menu*/
header nav .menu {
  width: 90%;
  font-family: 'Arima Madurai', cursive;
  font-size: 1.5rem;
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 0;
  margin-left: 0.3rem;
  margin-right: 0.3rem;
}
header nav ul a {
  color: #202020;
  text-decoration: none;
  display: block;
  padding: 9px 25px 8px 25px;
}
a:hover {
  font-size: 110%;
}
/*
a:active{
 }
*/
main {
  height: 100%;
  margin-top: 6%;
  margin-left: 8%;
  margin-right: 8%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
h5,
h6 {
  font-family: 'Arima Madurai', cursive;
}
h6 {
  font-size: 3rem;
  text-align: right;
}
h5 {
  font-size: 3rem;
  text-align: left;
}
p {
  font-family: 'Sarabun', sans-serif;
  font-size: 1rem;
}
.inicio-flex {
  padding-top: 10px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}
.inicio-flex > img {
  width: 150px;
  height: 200px;
  padding-top: 3px;
}
/*FOOTER rodapé*/
footer {
  bottom: 0;
  width: 90%;
  background-color: #f6f0cf;
  margin-left: 5%;
  margin-right: 5%;
  padding-bottom: 9px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  flex-wrap: wrap;
}
hr {
  overflow: visible;
  border-top: 1px solid #202020;
  opacity: 50%;
  width: 100%;
}
/*frase projeto*/
.texto-footer {
  width: 90%;
  font-family: 'Sarabun', sans-serif;
  text-align: center;
  font-size: 0.9rem;
  margin-top: 9px;
}
@media (max-width: 566px) {
  .desktop {
    display: none;
  }
  .mobile {
    display: block;
  }
}
@media (min-width: 567px) {
  .desktop {
    display: block;
  }
  .mobile {
    display: none;
  }
}
